<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salutations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">

</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand" href="/">Salutations</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link nav-link-bigger" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-bigger" href="{{ url_for('inbox') }}">Inbox</a> <!-- Add this line for the inbox -->
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link nav-link-bigger" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-bigger" href="{{ url_for('register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <!-- Flash message section -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-dismissible fade show" role="alert">
                    <ul class="list-unstyled input-bigger">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        <!-- Content block from child templates -->
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
