{% extends 'base.html' %}
{% block content %}
    <h1>Reset Your Password</h1>
        <form method="POST" class="contact-header">
            {{ form.hidden_tag() }} {# Include the CSRF token here #}
            <div>
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
{% endblock %}
